<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-label>
        <h1>Nome: {{cliente.nome}}</h1>
        <p class="ion-text-wrap">Cpf: {{cliente.cpf}}</p>
        <p class="ion-text-wrap">Telefone: {{cliente.telefone}}</p>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="primary">
              <ion-icon slot="start" name="pencil"></ion-icon>
              Editar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="danger" fill="outline">
              <ion-icon slot="start" name="trash"></ion-icon>
              Excluir
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
    </ion-item>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['novo']" routerLinkActive="router-link-active" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

